@import "variables.scss";

.heading {
  font-family: "Wadik", sans-serif;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;

  &--xl {
    color: $white;
    font-size: 5rem;
    @media screen and (max-width: $desktop) {
      font-size: 3.75rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 3.3rem;
    }
    @media screen and (max-width: $mobile) {
      font-size: 3.125rem;
    }
  }

  &.heading--white {
    color: white;
    &::after {
      content: none;
    }
  }

  &--l {
    color: #151513;
    font-size: 3.75rem;
    @media screen and (max-width: $desktop) {
      font-size: 3.125rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 2.3rem;
    }
    @media screen and (max-width: $mobile) {
      font-size: 1.875rem;
    }
    &::after {
      content: "";
      display: block;
      margin-block: 2.5rem;
      width: 7.8125rem;
      height: 0.25rem;
      border-radius: 2px;
      background: rgba(21, 21, 19, 0.1);
      @media screen and (max-width: $tablet) {
        width: 2.5rem;
        height: 0.125rem;
        margin-block: 1.8rem;
      }
      @media screen and (max-width: $mobile) {
        width: 3.9375rem;
        margin-block: 1.56rem;
      }
    }
  }
  &--m {
    color: #ffb837;
    font-size: 1.875rem;
    line-height: 1.1em;
    @media screen and (max-width: $desktop) {
      font-size: 1.5rem;
    }
  }
}

.paragraph {
  color: $text;
  font-size: 1.5rem;
  line-height: 1.3em;
  @media screen and (max-width: $desktop) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: $tablet) {
    font-size: 1.1rem;
  }
  @media screen and (max-width: $mobile) {
    font-size: 1rem;
  }

  &--first {
    margin-bottom: 1em;
  }
  & + .paragraph {
    margin-top: 1em;
    @media screen and (max-width: $mobile) {
      margin-top: 0.8em;
    }
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: skewX(-10deg);
  color: $black;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Wadik", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: 5rem;
  padding-block: 1.5rem;
  min-width: 20.375rem;
  text-decoration: none;
  border-radius: 0.9rem;
  margin: 0.75rem;
  transition: all 0.3s ease;
  @media screen and (max-width: $desktop) {
    height: 4.375rem;
    font-size: 1.25rem;
    min-width: 17.875rem;
  }
  @media screen and (max-width: $mobile) {
    height: 3.375rem;
    font-size: 1rem;
  }
  &__text {
    display: block;
    transform: skewX(10deg);
  }
  &__text--icon {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    & svg {
      width: 2.125rem;
      height: 2.125rem;
    }
  }
  &--small {
    font-size: 1.125rem;
    height: 3.375rem;
    min-width: 14.5rem;
    &.button--fill {
      @media screen and (max-width: $mobile) {
        width: auto;
      }
    }
    @media screen and (max-width: $mobile) {
      min-width: 8rem;
      height: 2.25rem;
      font-size: 0.625rem;
      padding: 0.2rem;
    }
  }
  &--fill {
    background-color: $accent;
    &:hover {
      color: $white;
      background-color: $grey;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }
  &--bordered {
    padding-inline: 2.88rem;
    padding-block: 1.44rem;
    color: $accent;
    border: 4px solid rgba(255, 184, 55, 1);
    background-color: transparent;
    @media screen and (max-width: $desktop) {
      border-width: 3px;
    }
    &:hover {
      border-color: $grey;
      color: $grey;
      & svg path {
        fill: $grey;
        stroke: $grey;
      }
    }
    & svg path {
      fill: $accent;
      transition: all 0.3s ease;
    }
  }
}

.section {
  padding-block: 6.25rem;
  background-color: $white;
  @media screen and (max-width: $tablet) {
    padding-block: 4.5rem;
  }
  @media screen and (max-width: $mobile) {
    padding-block: 3.75rem;
  }
  &--no-top-padding {
    padding-top: 0;
  }
  &--grey {
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
  }
}

.container {
  max-width: 110.75rem;
  padding-inline: 1.5rem;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: $desktop) {
    max-width: 85rem;
  }
  @media screen and (max-width: $tablet) {
    padding-inline: 1rem;
  }
  @media screen and (max-width: $mobile) {
    padding-inline: 0.62rem;
  }
  &--small {
    max-width: 93.75rem;
    @media screen and (max-width: $desktop) {
      max-width: 85rem;
    }
  }
  &--mobile {
    @media screen and (max-width: $mobile) {
      padding: 0;
    }
  }
}

.accent {
  color: $accent;
}

.header {
  background-color: $black;
  padding-block: 0.5rem;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  &__logo {
    @media screen and (max-width: $tablet) {
      width: 12rem;
    }
    @media screen and (max-width: $mobile) {
      width: 6.5rem;
    }
  }
  & .socials.header__socials {
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
  &.fixed-header {
    pointer-events: initial;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.yellow-blur {
  border-radius: 17.21875rem;
  opacity: 0.6;
  background: $accent;
  filter: blur(250px);
  width: 34.375rem;
  height: 34.375rem;
  position: absolute;
  @media screen and (max-width: $tablet) {
    width: 20rem;
    height: 20rem;
    filter: blur(133px);
  }
  &--left {
    left: -20%;
    bottom: -50%;
    @media screen and (max-width: $tablet) {
      left: -30%;
      bottom: -25%;
    }
  }
  &--right {
    right: -9%;
    top: -47%;
    @media screen and (max-width: $tablet) {
      right: -27%;
      top: -12%;
    }
  }
}
